body {
  padding: 0;
  margin: 0;
  background: #00aa;
}

.grid-screen {
  display: grid;
  grid-column: 1 / 5;
  background-color: black;
  grid-row: 1/3;
}

.grid-reset {
  display: grid;
  grid-column: 1 / 3;
}

.grid-delete {
  display: grid;
  grid-column: 3/5;
}

.grid-numbers {
  display: grid;
}

.grid-operators {
  display: grid;
}

.grid-main {
  display: grid;
  place-content: center;
  min-height: 100vh;

  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: 50px;
}

.grid-main button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgb(212, 211, 243);
}

.grid-main button:hover {
  background-color: rgb(200, 190, 241);
}
